<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="180x180" href="../../assets/images/nya.jfif/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../images/assets/nya.jfif/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../images/assets/nya.jfif/favicon-16x16.png">
<link rel="mask-icon" href="../../images/assets/nya.jfif/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
